<head>
  <meta charset="UTF-8">
  <meta name="description" content="{{ site.description }}" />

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>
    {% if page.title == "Home" %}
      {{ site.title }} | {{ site.tagline }}
    {% else %}
      {{ page.title }} | {{ site.title }}
    {% endif %}
  </title>

  <!-- CSS -->
  <link rel="stylesheet" href="{{ site.baseurl }}/public/css/poole.css" />
  <link rel="stylesheet" href="{{ site.baseurl }}/public/css/syntax.css" />
  <link rel="stylesheet" href="{{ site.baseurl }}/public/css/hyde.css" />

  <!-- Icons -->
  <link rel="shortcut icon" type="image/x-icon" href="{{ site.baseurl }}/public/favicon.ico" />
  <link rel="icon" href="{{ site.baseurl }}/public/favicon-32.png" sizes="32x32" />
  <link rel="icon" href="{{ site.baseurl }}/public/favicon-64.png" sizes="64x64" />
  <link rel="icon" href="{{ site.baseurl }}/public/favicon-128.png" sizes="128x128" />
</head>
